name: Publish
on: [push]
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 10
      - name: install
        run: yarn install
      - name: test
        run: yarn workspace @primer/gatsby-theme-doctocat test
      - uses: primer/publish@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
        with:
          args: "--dir=theme"
