name: Deploy to production

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_deploy:
    name: Build and deploy
    uses: primer/.github/.github/workflows/deploy.yml@v2.2.1
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
    with:
      node_version: 18
      install: npm ci
      build: npm run build
      output_dir: docs/public
